# Copy this file to .env locally and set values. DO NOT commit .env to Git.
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
# Optional: Example DATABASE_URL for Postgres (used by Render when you add a Postgres database)
# DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME
