# Copy this file to .env locally and set values. DO NOT commit .env to Git.
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
# Optional: Example DATABASE_URL for Postgres (used by Render when you add a Postgres database)
# DATABASE_URL=******HOST:PORT/NAME

# Email (Gmail) configuration - fill these with real values in your local .env (DO NOT COMMIT .env)
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=your.academy@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=your-app-password-or-smtp-password
DJANGO_EMAIL_USE_TLS=True
# Set a default from email (optional). If not set, EMAIL_HOST_USER will be used as DEFAULT_FROM_EMAIL
DJANGO_DEFAULT_FROM_EMAIL=your.academy@gmail.com
# Optionally override the email backend for development (e.g., console backend)
# DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
